.home{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.home .content p{
    font-size: 20px;
    font-weight: 700;
    color: black;
    font-family: 'Roboto', sans-serif;
}
